# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    #owa bundle
    cas_protocol:      S1
    cas_server:        www.rowa-secure.com
    cas_port:          443
    cas_path:          /sso/
    
    #owa form
    owa_login: https://www.rowa-secure.com/sso/login
    owa_forgot: https://www.rowa-secure.com/webservice/OWAWebService?wsdl

    #hcp mailer
    relatedAE_email: ds.au@ucb.com

